<div id="page-content">
    <div class="row header col-xs-12">
        <div class="user pull-right">&nbsp;</div>
        <div class="meta">
            <div class="page">{{message}}</div>
            <div class="breadcrumb-links">&nbsp;</div>
        </div>
    </div>

    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</div>